<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Clubhouse</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <% if (user) {%>
    <h1>
      Hello, <%= user.username %>
    </h1>
    <a href="/create-post">Create post</a>
    <a href="/log-out">Log out</a>
  <% } else { %>
      <a href="/log-in">Log in</a>
      <a href="/sign-up">Sign up</a>
  <% } %>
  <%- include('./msgs.ejs', { msgs, user }) %>
</body>
</html>