<div>
 <% if (msgs.length > 0) { %>
  <% msgs.forEach(msg => { %>
    <div>
     <h4>
      <%= msg.text %>
     </h4>
     <p>
      Written by <%= user === undefined ? "anonymous" : msg.author.username %>
     </p>
     <% if (user && user._id.toString() === msg.author._id.toString()) { %>
      <form method="POST">
       <input type="hidden" name="msgid" value=<%- msg._id %>>
       <button type="submit">Delete</button>
      </form>
     <% } %>
    </div>
  <% }) %>
 <% } %>
</div>